.btn {
    height: var(--button-height);
    padding-inline: var(--button-padding-inline);
    font-size: var(--font-text-1);
    font-weight: var(--font-weight-bold);
    line-height: var(--font-line-height-1);
    border: var(--button-border);
    border-radius: var(--radius-1);
    cursor: pointer;
}

.btn-primary {
    background: var(--color-brand-1);
    border-color: var(--color-brand-1);
    color: var(--color-mode);
}

.btn-primary:hover {
    background: var(--color-brand-2);
    border-color: var(--color-brand-2);
}

.btn-greylow {
    background: var(--color-grey-5);
    border-color: var(--color-grey-5);
    color: var(--color-grey-2);
}

.btn-greylow:hover {
    background: var(--color-grey-4);
    border-color: var(--color-grey-4);
    color: var(--color-grey-1);
}

.btn-outline {
    background: var(--color-mode);
    border-color: var(--color-grey-5);
    color: var(--color-grey-2);
}

.btn-outline:hover {
    background: var(--color-brand-3);
    border-color: var(--color-brand-1);
    color: var(--color-brand-1);
}

.btn-outline-selected {
    background: var(--color-brand-3);
    border-color: var(--color-brand-1);
    color: var(--color-brand-1);
}

.btn-outline:active {
    background: var(--color-brand-3);
    border-color: var(--color-brand-1);
    color: var(--color-brand-1);
}

.icon {
    background-color: var(--color-mode);
    background-image: url(../assets/trash.png);
    background-repeat: no-repeat;
    background-position: center;
    border-color: var(--color-grey-5);
    border-radius: var(--radius-2);
    margin-left: var(--margin-left-icon);
}

.icon:hover {
    background-color: var(--color-grey-5);
    background-image: url(../assets/trash2.png);
    background-repeat: no-repeat;
    background-position: center;
    border-color: var(--color-grey-4);
    border-radius: var(--radius-2);
}

.btn-value {
    cursor: default;
}

.btn-value:hover {
    background-color: var(--color-grey-5);
}

#close-button {
    font-family: var(--font-family-2);
    padding: 4px 16px;
    font-size: var(--font-title-2);
}